%html
  %head
    = stylesheet_link_tag "test"
    = stylesheet_link_tag "landing", :media => "all"
    = stylesheet_link_tag "social-buttons"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
    = javascript_include_tag 'bootstrap.min.js'
  %body.landing
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'))
    .navbar.navbar-fixed-top.navbar-default
      .navbar-inner
        .container-fluid
          .nav-collapse.navbar-responsive-collpase.collapse
            %ul.nav.pull-left
              %li
                =link_to image_tag('old_logo_03.gif',:class=>'brand-slice'), root_path
              %li.dropdown
                %a{:href=>'#',:class=>'dropdown-toggle',:'data-toggle'=>'dropdown'}
                  =image_tag('about-slice3.gif')
                %ul.dropdown-menu
                  %li
                    =link_to image_tag('board.gif', :class=>'icon-slice'), board_path
                  %li
                    =link_to image_tag('education_slice.gif', :class=>'icon-slice'), education_path
                  %li
                    =link_to image_tag('distribution_slice.gif',:class=>'icon-slice-distribute'), distribution_path
                  %li
                    =link_to image_tag('donate_slice.gif',:class=>'icon-slice'),donations_path
              %li
                =link_to image_tag('event_slice.gif',:class=>'icon-slice'), events_path
              %li
                =link_to image_tag('photo_slice.gif',:class=>'icon-slice'), libraries_path
              %li
                =link_to image_tag('contact.gif',:class=>'icon-slice'), :controller=>'home',:action=>'contact'
              %li
                =link_to image_tag('resource-slice.gif'),root_path(:anchor => 'resource-list')

            %ul.nav.pull-right
              %li
                =link_to image_tag('signup.gif',:class=>'icon-slice'),new_user_registration_path
              %li
                =link_to image_tag('login.gif',:class=>'icon-slice'),new_user_session_path
              %li
                =link_to "logout",:controller=>'devise/sessions',:action=>'destroy'
    =yield
    .navbar.navbar-fixed-bottom.navbar-default.footer
      .navbar-inner
        .container-fluid{:id=>'resource-list'}
          .nav-collapse.navbar-responsive-collapse.collapse
            %ul.nav.pull-left
              %li
                =image_tag('member.gif')
              %li
                %h3{:class=>'footer-slice'}
                  ="Book Reviews"
              %li
                %h3{:class=>'footer-slice'}
                  ="FAQ"
              %li
                %h3{:class=>'footer-slice'}
                  ="Friends"
              %li
                %h3{:class=>'footer-slice'}
                  ="Urban Forest Resources"
            %ul.nav.pull-right
              %li
                .fb-like.fb-footer{:data=>{:href=>'https://www.facebook.com/pages/Fairfax-ReLeaf/292969257415322',:width=>'240',:height=>'43',:layout=>'button',:action=>'like', :'show-faces'=>"false",:share=>"false"}}
              %li
                =link_to image_tag('donate-button_03.gif'),:controller => 'home',:action => 'donations'
