%html
  %head
    = stylesheet_link_tag "test"
    = stylesheet_link_tag "landing", :media => "all"
    = stylesheet_link_tag "social-buttons"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
    = javascript_include_tag 'bootstrap.min.js'
  %body.landing
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          .nav-collapse.navbar-responsive-collpase.collapse
            %ul.nav.pull-left
              %li
                =link_to image_tag('brand_slice.gif',:class=>'brand-slice'), root_path
              %li
                =link_to image_tag('about_slice.gif',:class=>'icon-slice'), about_path
              %li
                =link_to image_tag('event_slice.gif',:class=>'icon-slice'), :anchor => 'eventSection'
              %li
                =link_to image_tag('photo_slice.gif',:class=>'icon-slice'), :anchor=>'photoSection'
              %li
                =link_to image_tag('education_slice.gif', :class=>'icon-slice'), education_path
              %li
                =link_to image_tag('distribution_slice.gif',:class=>'icon-slice'), distribution_path
              %li
                =link_to image_tag('donate_slice.gif',:class=>'icon-slice'),donations_path
              %li
                =link_to image_tag('contact.gif',:class=>'icon-slice'), new_message_path
            %ul.nav.pull-right
              %li
                =link_to "logout",:controller=>'devise/sessions',:action=>'destroy'
              %li
                =link_to image_tag('signup.gif',:class=>'icon-slice'),new_user_registration_path
              %li
                =link_to image_tag('login.gif',:class=>'icon-slice'), new_user_session_path
    =yield
